<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7H4UibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Ratings</title>
</head>
<body>
    <div class="container mt-2">
        <h1 class="text-center mb-4">Ratings</h1>
        <table class="table" border="1">
            <thead class="thead-dark">
                <tr>
                    <th>Rating ID</th>
                    <th>Username</th>
                    <th>Driver ID</th>
                    <th>Conductor ID</th>
                    <th>Driver Rating</th>
                    <th>Conductor Rating</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% ratings.forEach(rating => { %>
                    <tr>
                        <td><%= rating.rating_id %></td>
                        <td><%= rating.username %></td>
                        <td><%= rating.driver_id %></td>
                        <td><%= rating.conductor_id %></td>
                        <td><%= rating.driver_rating %></td>
                        <td><%= rating.conductor_rating %></td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Edit</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Rating ID</a>
                                    <a class="dropdown-item" href="#">Username</a>
                                    <a class="dropdown-item" href="#">Driver ID</a>
                                    <a class="dropdown-item" href="#">Conductor ID</a>
                                    <a class="dropdown-item" href="#">Driver Rating</a>
                                    <a class="dropdown-item" href="#">Conductor Rating</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <br>
    <footer class="bg-light text-center py-3 mt-4">
        <a href="/admin" class="mx-2 text-decoration-none">Back to Dashboard</a>
    </footer>
</body>
</html>